/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

/*Styling for header*/
header {
    text-align: center;
    background-color: #0F2C67;
    padding: 20px;
}
label{
    display: block;
}
.sub-btn {
    cursor: pointer;
    font-size: 1rem;
    height: 35px;
    border-radius: 1px;
    background-color: #040303;
    color: white;
    padding: 3px;
    border:none;
}
.sub-btn:hover{
    background-color: white;
    color: #0F2C67;
}

/*CSS for main section*/
article {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    border: 3px solid #DD4A48;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: left;
}

select {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #FF7800
}


input {
    width: 160px;
    height: 35px;
    padding: 10px;
    border: 2px solid #FF7800
}
small{
    color: grey;
}

hr{
    max-width: 70%;
    margin-left: 30px;
    opacity: 0.5;
}
.logo {
    display: inline-block;
    border: 3px solid #FF7800;
    color: #0F2C67;
    background-color: white;
    padding: 5px;
}
.container {
    padding: 20px;
}
.container p{
    margin: 3px;
    max-width: 70%;
}
.container h2,
.container h4{
    margin: 3px;
}
.container button{
    font-size: 1rem;
    border-radius: 3px;
    background-color: #DD4A48;
    color: white;
    padding: 5px;
    margin: 10px;
    border:none;
    cursor: pointer;

}
.container button:hover{
    background-color: white;
    color: #DD4A48;
}

.capital-text {
    text-transform: uppercase;
}

/*footer styling*/
footer {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    background-color: #0F2C67;
    color: #EAEAEA;
    align-items: center;
}

/*Media queries for responsiveness*/
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
      }
      
      article p {
        display: none;
      }
      .all-news{
          margin: 10px 0 10px 0;
      }
}

@media screen and (max-width: 500px) {
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img{
        width: 250px;
        height: 250px;
    }

    hr{
        margin: auto;
    }
    
    .container button{
       font-size: large;
    }
    .all-news{
        margin: 10px 0 10px 0;
    }

}