/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Styling for header*/
header {
    text-align: center;
    background-color: #0F2C67;
    padding: 20px;
}

label {
    display: block;
}

.subscribe{
    display: flex;
    align-items: center;
    
}

.sub-btn {
    cursor: pointer;
    font-size: 1rem;
    height: 34px;
    border-radius: 1px;
    background-color: #040303;
    color: white;
    padding: 3px;
    border: none;
    /* margin: 2px 0 0 -4px; */
}

.sub-btn:hover {
    background-color: white;
    color: #0F2C67;
}

/*CSS for main section*/
article {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    border: 3px solid #DD4A48;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

select {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #FF7800
}


input {
    width: 160px;
    height: 34px;
    padding: 10px;
    border: 2px solid #FF7800
}

p {
    line-height: 18px;
    max-height: 72px;
    overflow: hidden;
}

small {
    color: grey;
}

hr {
    /* max-width: 90%; */
    margin-left: 20px;
    margin-right: 28px;
    opacity: 0.5;
}

.logo {
    display: inline-block;
    border: 3px solid #FF7800;
    color: #0F2C67;
    background-color: white;
    padding: 5px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container p {
    margin: 3px;
    max-width: 70%;
}

.container h2,
.container h4 {
    margin: 3px;
}

.container button {
    font-size: 1rem;
    border-radius: 3px;
    background-color: #DD4A48;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    max-width: fit-content;

}

.container button:hover {
    background-color: white;
    color: #DD4A48;
}

.capital-text {
    text-transform: uppercase;
}

/*footer styling*/
footer {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    background-color: #0F2C67;
    color: #EAEAEA;
    align-items: center;
}

/*Media queries for responsiveness*/
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    article p {
        display: none;
    }
}

@media screen and (max-width: 586px) {
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img {
        width: 250px;
        height: 250px;
    }

    hr {
        margin: auto;
    }

    .container button {
        font-size: large;
    }
}