<div class="row">
  <div class="col">
    <div
      class="card my-2 widthClass"
      *ngFor="let user of userService.users; index as i"
      [ngClass]="borderStyle(user)"
    >
      <div class="card-body">
        <h5 class="card-title">{{ user.firstName }}</h5>
        <div class="d-flex justify-content-end">
          <button (click)="displayCard(user)" class="btn btn-primary">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-user-preview
      *ngIf="isDisplay == true"
      [user]="currentUser"
    ></app-user-preview>
  </div>
</div>
